<ion-header>
  <ion-toolbar>
    <ion-title>Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-tab-button *ngIf="platform === 'android'" expand="block" (click)="scan()">
    Scan Now
  </ion-tab-button>


  <ion-text *ngIf="message">
    <p>{{ message }}</p>
  </ion-text>

  <ion-card *ngIf="eventTriggered">
    <ion-card-header>🧭 Event Triggered</ion-card-header>
    <ion-card-content>
      You've unlocked something secret in the game!
    </ion-card-content>
  </ion-card>
</ion-content>
